@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Pacifico&family=Poppins:ital,wght@0,300;1,200&display=swap");

/* font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: rgba(204, 204, 204, 0.884);
    position: fixed;
    z-index: 9;
    margin-top: 0px;
}

.progress-bar {
    height: 8px;
    /* background: rgba(4, 170, 109, 0.871); */
    background: linear-gradient(to right, #66ff66 70%, #00ffff 100%);
    width: 0%;
    transition: all 0.2s ease;
}

.sidebar {
    position: fixed;
    width: 300px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    background: rgb(24, 95, 228);
    box-sizing: initial;
    display: block;
    transition: all 0.5s;
    display: none;
    z-index: 100;
}

.sidebar ul {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 10px;
    padding-top: 40px;
}

.diaryicon {
    background: url("static/diary.png") no-repeat top left;
    background-size: cover;
    margin-top: 10px;
}

.icon-accessibility {
    background-position: 0 0;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.sidebar ul h1 {
    color: rgb(177, 177, 177);
    font-family: "Caveat", cursive;
    font-size: 50px;
    font-weight: 500;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: left;
    color: white;
    padding: 10px;
}

.sidebar ul a {
    display: block;
    display: inline;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.sidebar ul a span {
    padding-left: 10px;
    letter-spacing: 1px;
}

.sidebar ul .active {
    background: white;
    color: rgb(24, 95, 228);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar ul .active-a {
    color: rgb(24, 95, 228);
}

.container-box {
    width: calc(100% - 300px);
    position: relative;
    top: 0px;
    float: right;
    padding: 0px;
    display: none;
    min-height: 100vh;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        width: 250px;
    }
    .container-box {
        width: calc(100% - 250px);
    }
}

@media only screen and (max-width: 800px) {
    .sidebar {
        width: 52px;
        left: 10px;
    }
    .sidebar a span {
        display: none;
    }
    .sidebar ul h1 span {
        display: none;
    }
    .container-box {
        width: calc(100% - 70px);
    }
}

.entry_cont {
    width: 100%;
    min-height: 120px;
}

.entrynote {
    width: 50%;
    min-width: 250px;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.entrynote input,
textarea {
    background-color: transparent;
    box-shadow: none;
    color: rgb(95, 95, 95);
    width: 90%;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#optionbar {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: none;
    position: relative;
}

#optionbar i {
    margin-left: 10px;
    cursor: pointer;
    color: rgb(88, 88, 88);
    display: inline-block;
}

#image-loader {
    visibility: hidden;
    transition: all 0.3s ease;
}

#optionbar i span {
    padding-left: 5px;
    color: rgb(70, 69, 69);
}

#save-note {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: rgb(13, 107, 231);
    border-radius: 30px;
    color: white;
    margin: 0px;
    width: 80px;
    padding: 7px;
    padding-left: 58px;
    transition: all 0.3 ease;
}

.file-input {
    background-color: rgb(165, 206, 20);
    border-radius: 30px;
    color: white;
    margin: 0px;
    /* width: 120px; */
    padding: 7px;
    transition: all 0.3 ease;
}

#autoresizing {
    display: block;
    overflow: hidden;
    resize: none;
    height: 20px;
}

input,
textarea:active {
    border: none;
}

input,
textarea:focus {
    border: none;
}

#title {
    display: none;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    .entrynote {
        width: 80%;
    }
}

.notes {
    width: 100%;
    display: flex;
}