<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/blogs.css" />
    <link rel="stylesheet" href="/static/css/comment.css">
    <link rel="stylesheet" href="/static/css/card_slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Blogo</title>
    <style>

    </style>
</head>

<body>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
    <div class="nevbar">
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <h3>Blogo</h3>
            <a href="/">Home</a>
            <a href="/blogs" style="color: rgb(230, 22, 101);">Read blogs</a> {% if is_user == "true" %}<a href="/dashboard">Dashboard</a> {% endif %}
            <a href="#">Credit</a>
            <a href="#">Docs</a>
            <a href="#">Contact</a>

        </div>
        <button class="openbtn" id="openbtn" onclick="openNav()">
            <i class="fa fa-bars"></i>
        </button> {% if is_user == "false" %}<a href="/login?next={{request.path}}" class="login">Sign-in</a> {% endif %}

    </div>
    <div class="container">
        {% if blog_content %}
        <div class="content">
            <div class="details">
                <h1>{{blog_content.title}}</h1>
                <h4>{{blog_content.des}}</h4>
                <div class="author">
                    <div class="author-details">
                        <img src="{{author.pic.url}}" alt="">
                        <p>{{author.title}}</p>
                    </div>
                    <div class="react">
                        <i class="fa fa-bookmark-o" onclick="color_change(this)"></i>
                        <i class="fa fa-heart" onclick="color_change(this)"></i>
                        <a href="#wrapper"><i class="fa fa-comment-o"></i></a>

                    </div>

                </div>
            </div>
            {{ blog_content.blog|safe }}

            <div class="comment-box">
                <section id="wrapper">
                    <aside class="card">

                    </aside>
                </section>
            </div>
        </div>
        {% else %}
        <div class="reco" id="reco">

            <h1>Recommended for You...</h1>
            <ul class="card-slider">
                {% for b in public %}
                <a href="/blogs/{{b.id}}" style="text-decoration: none; color:unset;">
                    <li>
                        <div class="title-img">
                            <img src="{{b.thumb.url}}" alt="" />
                        </div>
                        <div class="details">
                            <p class="title">{{b.title}}</p>
                            <p class="des">
                                {{b.des}}
                            </p>
                        </div>
                        <div class="button">
                            <a href="/blogs/{{b.id}}">Launch</a>
                        </div>
                    </li>
                </a>
                {% endfor %}


            </ul>

            {% if is_user == "true" %}
            <h1>Premium</h1>
            <ul class="card-slider">
                {% for b in private %}
                <a href="/blogs/{{b.id}}" style="text-decoration: none; color:unset;">
                    <li>
                        <div class="title-img">
                            <img src="{{b.thumb.url}}" alt="" />
                        </div>
                        <div class="details">
                            <p class="title">{{b.title}}</p>
                            <p class="des">
                                {{b.des}}
                            </p>
                        </div>
                        <div class="button">
                            <a href="/blogs/{{b.id}}">Launch</a>
                        </div>
                    </li>
                </a>
                {% endfor %}


            </ul>
            {% endif %}
            <h1>Trendind...</h1>
            {% if is_user == "true" %}
            <ul class="serlist">
                {% for b in all %}
                <li>
                    <div class="title-img">
                        <img src="{{b.thumb.url}}" alt="" />
                    </div>
                    <div class="details">
                        <p class="title">{{b.title}}</p>
                        <p class="des">
                            {{b.des}}
                        </p>
                    </div>
                    <div class="button">
                        <a href="/blogs/{{b.id}}">Launch</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}{% if is_user == "false" %}
            <ul class="serlist">
                {% for b in public %}
                <li>
                    <div class="title-img">
                        <img src="{{b.thumb.url}}" alt="" />
                    </div>
                    <div class="details">
                        <p class="title">{{b.title}}</p>
                        <p class="des">
                            {{b.des}}
                        </p>
                    </div>
                    <div class="button">
                        <a href="/blogs/{{b.id}}">Launch</a>
                    </div>
                </li>
                {% endfor %}
            </ul>{% endif %}

        </div>{% endif %}


    </div>
    <div class="footer">
        <div class="social">
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <h3>
            Blogo is blog post webapp network built by Tirtharaj Sinha<br /> with <i class="fa fa-heart" style="color: red"></i> and effort.
        </h3>
        <div class="foot"></div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        window.onscroll = function() {
            scrolltracker();
            console.log(".")
        };

        function scrolltracker() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height =
                document.documentElement.scrollHeight -
                document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
        }

        function color_change(ele) {
            ele.style.color = "red";
            fetch("/marked?id={{blog_content.id}}").then(function(response) {
                return response.json();
            }).then(function(data) {
                alert(data.msg)
            });
        }


        //card
        const detailsCard = (name, button) => {
            return {
                name,
                button,
                showDetails() {
                    return `<div class="row">
<div class="col-3">
 
</div>
<div class="col-9">
      <h4>${this.name}</h4>
      <textarea type="text" id="inputStatus" placeholder="I wound like to say..."></textarea>
<div class="d-flex">
<button class="ml-auto" onclick="addToFunc(); eraseText()" type="button">${this.button}</button>
</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div id="addTask">
</div>
</div>
</div>
`
                }
            };
        };

        let detailsUpdate = detailsCard("{{user.username}}", "Update Status");

        document.querySelector("aside.card").innerHTML = detailsUpdate.showDetails();

        const addToFunc = () => {
            // gets value from main text area
            let userName = detailsUpdate.name;
            let input = document.getElementById('inputStatus').value;
            // creates element for the value of input
            let title = document.createElement("h6");
            let status = document.createElement("p");
            let reply = document.createElement("ul");
            let deleteButton = document.createElement("li");
            let like = document.createElement("li");
            let replyList = document.createElement("li");
            like.innerHTML = "Like";
            replyList.innerHTML = "Add Comment";
            title.innerHTML = userName;
            //creates a node for the original input
            let textnode = document.createTextNode(input);
            status.appendChild(textnode);
            status.prepend(title);
            status.appendChild(reply);
            reply.appendChild(like);
            reply.appendChild(replyList);
            reply.appendChild(deleteButton);
            document.getElementById('addTask').appendChild(status);
            status.classList.add("statusBox");

            like.classList.add("fa");
            like.classList.add("fa-heart");
            replyList.classList.add("fa");
            replyList.classList.add("fa-comment");
            //userName.classList.add("title");

            //creates a container for the remove button
            let statusBox = document.createElement("div");
            //creates a button to delete status
            let removeTask = document.createElement('input');
            // adds type of which it is a button
            removeTask.setAttribute('type', 'button');
            removeTask.classList.add("removeButton");
            // sets the buttons value 
            removeTask.setAttribute("value", "delete");
            // sets the button next to the status text
            deleteButton.appendChild(removeTask);
            //sets the button to remove status
            removeTask.addEventListener('click', function() {
                status.parentNode.removeChild(status);
            }, false);
            like.addEventListener('click', function() {
                this.classList.add("likeClicked");
            }, false);

            //For reply 
            replyList.addEventListener('click', function() {
                this.classList.add("likeClicked");
                let luke = document.getElementById('addTask');
                let skywalker = document.createElement("textarea");
                let replied = document.createElement("p");
                let leia = document.createElement("input");
                leia.setAttribute('type', 'button');
                leia.setAttribute("value", "reply");
                leia.setAttribute("class", "removeButton");
                skywalker.setAttribute("id", "pushReply");
                skywalker.setAttribute("placeholder", "Reply to this comment");
                luke.appendChild(skywalker);
                luke.appendChild(leia);
                luke.appendChild(replied);
                leia.addEventListener('click', function() {
                    let replyInput = document.getElementById('pushReply').value;
                    let replyNode = document.createTextNode(replyInput);
                    replied.appendChild(replyNode);
                    if (replyInput === "") {
                        replied.classList.remove("statusBox");
                        skywalker.parentNode.removeChild(skywalker);
                        this.parentNode.removeChild(this);
                    } else {
                        let replyName = document.createElement("h6");
                        let deleteComment = document.createElement("p");
                        deleteComment.innerHTML = "Delete";
                        deleteComment.classList.add("deleteComment");
                        replyName.innerHTML = `${userName} says:`;
                        replied.prepend(replyName);
                        replied.prepend(deleteComment);
                        replied.classList.add("statusBox");
                        skywalker.parentNode.removeChild(skywalker);
                        this.parentNode.removeChild(this);
                        deleteComment.addEventListener('click', function() {
                            replied.parentNode.removeChild(replied);
                        }, false);
                    }
                }, false);
            }, false);

        };


        const eraseText = () => {
            //erases placeholder text in textarea
            document.getElementById("inputStatus").value = "";
        };
    </script>
</body>

</html>