<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Blogo</title>
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/button.css" />

</head>

<body>
    <div class="nevbar">
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <h3>Blogo</h3>
            <a href="" style="color: rgb(230, 22, 101);">Home</a>
            <a href="/blogs">Read blogs</a> {% if is_user == "true" %}<a href="/dashboard">Dashboard</a> {% endif %}
            <a href="# ">Credit</a>
            <a href="# ">Docs</a>
            <a href="# ">Contact</a>
        </div>
        <button class="openbtn " id="openbtn " onclick="openNav() ">
            <i class="fa fa-bars "></i>
        </button> {% if is_user == "false" %}<a href="/login" class="login">Sign-in</a> {% endif %}
    </div>
    <div class="container ">
        <div class="box ">
            <!-- <img src="static/indeximage.png " alt=" " width="auto " height="800px " /> -->
            <div class="imgbox ">
                <h1>Blogo</h1>
                <div class="btn-box">
                    <a href="/login" class="btn"><span>Get Started</span></a>
                    <a href="/register" class="btn-static" style="color:white;"><span>Sign-in to Read premium Blog for
                            free</span></a>
                </div>
            </div>
        </div>
        <svg xmlns=" http://www.w3.org/2000/svg " viewBox=" 0 0 1440 320 ">
            <path fill=" #0099ff " fill-opacity=" 1 "
                d=" M0,96L26.7,112C53.3,128,107,160,160,170.7C213.3,181,267,171,320,144C373.3,117,427,75,480,85.3C533.3,96,587,160,640,176C693.3,192,747,160,800,170.7C853.3,181,907,235,960,240C1013.3,245,1067,203,1120,176C1173.3,149,1227,139,1280,117.3C1333.3,96,1387,64,1413,48L1440,32L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z ">
            </path>
        </svg>

        <h1 class="h1">A free <span>Blog post</span> site for community</h1>
        <div class="first">
            <div class="leftdes">
                <h2>Great to Read</h2>
                Bloge are the books in modern time.In bloge there is no restrictions.Read as much blog you want.<a href="#neon" style="text-decoration: none;"><span>get started</span></a> to be part of this community.


            </div>
            <img src="static/thumbnail/11.jpg" alt="" class="rightimg">
        </div>
        <div class="second">
            <div class="rightdes">
                <h2>Publish you own blog</h2>
                <br> This gonna be most exciting feature.Here you can publish your own blogs. <br> We beleve sharing is caring. so Share your knoledge with other folks. <br> Don't let your time to be wested &
                <a href="#neon" style="text-decoration: none;"><span>get started</span></a> to be part of this community.
                <span id="neon"></span>


            </div>
            <img src="static/thumbnail/22.jpg" alt="" class="leftimg">
        </div>

        <div class="neon">
            <h2>Like it? Excited ? Join Now blogo for Free</h2><br>
            <a href="/login" class="fa fa-user-plus">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Get started
            </a>
            <a href="/register" class="fa fa-search-plus a2">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Join now
            </a>
        </div>
    </div>
    <div class="footer ">
        <div class="social ">
            <a href="# " class="fa fa-instagram "></a>
            <a href="# " class="fa fa-twitter "></a>
            <a href="# " class="fa fa-google "></a>
            <a href="# " class="fa fa-youtube "></a>
        </div>
        <h3>
            Blogo is blog post webapp network built by Tirtharaj Sinha<br /> with <i class="fa fa-heart " style="color: red "></i> and effort.
        </h3>
        <div class="foot "></div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidebar ").style.width = "250px ";
        }

        function closeNav() {
            document.getElementById("mySidebar ").style.width = "0 ";
        }

        const btn = document.querySelector(".btn");
        btn.onmousemove = function(e) {
            const x = e.pageX - btn.offsetLeft;
            const y = e.pageY - btn.offsetTop;

            btn.style.setProperty('--x', x + 'px');
            btn.style.setProperty('--y', y + 'px');
        }
    </script>
</body>

</html>