{% extends "base.html"%} {% block title %}Profile{% endblock %}{% block css %}static/css/profile.css{% endblock css %}{% block content %}
<h1 class="headings">Profile</h1>

<form class="form" method="POST" action="/profile/" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="Username">Username [not editable]*</label>
        <p class="form-control" id="Username">{{user.get_username}}</p>
    </div>
    <div class="form-group">
        <label for="email">Email address [Editable for first entry]</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email address" value="{{user.email}}" required />
    </div>
    <div class="form-group">
        <label for="email">Last login [not editable]*</label>
        <p id="email" class="form-control">{{user.last_login}}</p>
    </div>
    <div class="form-group">
        <label for="email">Date Joined [not editable]*</label>
        <p id="email" class="form-control">{{user.date_joined}}</p>
    </div>
    <div class="form-group">
        <label for="firstname">FirstName</label>
        <input type="text" class="form-control .bg-transparent" id="firstname" name="firstname" value="{{user.first_name}}" placeholder="Enter firstname" />
    </div>
    <div class="form-group">
        <label for="Lastname">lastName</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter LastName" value="{{user.last_name}}" />
    </div>

    <button type="submit">Save</button>
</form>

<hr>
<h1 class="headings author" style="margin-bottom: 10px;">Public Data as Blog Author</h1>
<h5 class="headings author" style="margin-bottom: 40px; margin-top: 0px; color: rgb(157, 185, 125);">No need to fill you have not published your own blog</h5>
<form class="form-author" method="POST" action="/authorprofile/" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="ins">This data will be public and will be displayed with your blog.</p>
    <div class="mb-3">
        <label for="image">Avatar</label><br> {% if details.pic %}
        <img src="{{details.pic.url}}" alt="" height="200px"> {% else %}
        <img src="/static/thumbnail/dafault_avatar.png" alt="" height="200px"> {% endif %}
        <br>
        <input type="file" id="image" name="image" class="form-control"><br>
    </div>
    <div class="mb-3">
        <label for="title">Public Name*</label>
        <input type="text" class="form-control .bg-transparent" id="title" name="title" value="{{details.title}}" placeholder="Enter your public name" autocomplete="off" required />
    </div>

    <div class="mb-3">
        <label for="bio" class="form-label">Bio*</label>
        <textarea class="form-control" id="bio" rows="2" name="bio" placeholder="Tell us something about yourself" autocomplete="off" required>{{details.bio}}</textarea>
    </div>
    <div class="mb-3">
        <label for="website">Website url [optional]</label>
        <input type="text" class="form-control .bg-transparent" id="website" name="website" value="{{details.website}}" placeholder="Enter your Website URL" autocomplete="off" />
    </div>
    <div class="mb-3">
        <label for="insta">Instagram profile url [optional]</label>
        <input type="text" class="form-control .bg-transparent" id="insta" name="insta" value="{{details.instagram}}" placeholder="Enter your Instagram profile url" autocomplete="off" />
    </div>
    <div class="mb-3">
        <label for="twitter">Twitter profile url [optional]</label>
        <input type="text" class="form-control .bg-transparent" id="twitter" name="twitter" value="{{details.twitter}}" placeholder="Enter your twitter profile url" autocomplete="off" />
    </div>

    <button type="submit">Save</button>
</form>
<div class="footer">
    <div class="social">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-youtube"></a>
    </div>
    <h3>
        Blogo is blog post webapp network built by Tirtharaj Sinha<br /> with <i class="fa fa-heart" style="color: red"></i> and effort.
    </h3>
    <div class="foot"></div>
</div>

<script>
    document.getElementsByClassName("profile")[0].classList.add("active");
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    document.getElementsByClassName("deluser")[0].style.display = "block";
</script>
{% endblock %}